body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homepage-banner {
	background: linear-gradient(30.03deg, #F0F5F8 34.41%, rgba(240, 245, 248, 0) 87.3%);
	background-size: 100vw;
	height: 800px;
	position: relative; 
}

.gray-section {
	background-color: #F0F5F8;
	background-size: 100vw;
	height: 800px;

}

.service-card {
	float: left;
  width: 25%;
  padding: 0 10px;
  margin: 10wh;
	/* width: 212px;
	height: 243px; */
	background: #FFFFFF;
	box-shadow: 2px 5px 13px rgba(0, 30, 87, 0.16);
	border-radius: 12px;
}


@media screen and (max-width: 600px) {
  .service-card {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

